body {
  font-family: Arial;
  background-color: #fff7ed;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  width: 320px;
  padding: 25px;
  background: white;
  border-radius: 10px;
  text-align: center;
}

input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
}

button {
  width: 100%;
  padding: 10px;
  background: #f97316;
  color: white;
  border: none;
}